<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
        <title>Zelo</title>
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <h1>ZELO</h1>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="fas fa-home"></i>
                            <a href="default.html"> Dashboard</a>
                        </li>
                        <li>
                            <i class="fas fa-procedures"></i>
                            <a href="pacientes.html"> Pacientes</a>
                        </li>
                        <li class="selected">
                            <i class="fas fa-users"></i>
                            <a href="usuarios.html"> Usuários</a>
                        </li>
                        <li>
                            <i class="fas fa-cog"></i>
                            <a href="configuracoes.html"> Configurações</a>
                        </li>
                    </ul>
                </div>
            </sidebar>
            <main>
                <header>
                    <a href="default.html"><i class="fas fa-home"></i> Dashboard</a>
                    <a href="index.html"><i class="fas fa-sign-out-alt"></i> Logout</a> 
                </header>
                <div class="main-content">
                    <div class="main-content-title">
                        <h2>Usuários</h2>
                    </div>
                    <div class="panel-basic">
                        <button class="panel panel-50" a-view="listarUsuarios" onclick="fetchContent(this)" a-folder="usuarios">Listar Usuários</button>
                        <button class="panel panel-50" a-view="listarQuartosUsuarios" onclick="fetchContent(this)" a-folder="usuarios">Quartos</button>
                        <button class="panel panel-50" a-view="relatoriosUsuarios" onclick="fetchContent(this)" a-folder="usuarios">Relatórios</button>
                    </div>
                    <div class="content" id="ajax-content">
                        
                    </div>
                  
                </div>
            </main>
        </div>
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
        <script src="../js/ajax.js"></script>
    </body>
</html>